<%= content_for :head do %>
  <%= stylesheet_link_tag "gread1" %>
<% end %>

<!-- right content -->
<div class="content W730">
  <!-- Nav tabs -->
  <%= render 'top_nav' %>

  <div class="tab-content">

    <div class="" id="voc_entry">
      <%= form_tag new_oral_question_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
        <div class="form-group" >
          <p >请输入要录入的跟读部分：&nbsp;&nbsp;&nbsp;Tpo</p>
          <%= select_tag :tpo, options_for_select(OralOrigin.name_for_selection), :class => 'form-control _tpo' %>
        </div>
        <div class="form-group" >
          <p>unit</p>
          <%= select_tag :unit, options_for_select(@unit_for_selection), data: {sources: @sources}, id: 'se_unit', :class => 'form-control _unit' %><br>
        </div>
        <div class="form-group group1" >
          <p >来自于<span class="from _source"><%= @sources.first %></span></p>
        </div>
        <div class="form-group " >
         <button type="submit" class="btn btn-default b1" id="btn_read">确定</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :tail do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('._tpo').on('change', function(){
        var tpo_id = parseInt($(this).val());
        $.get('/oral_questions/unit_list', {tpo_id: tpo_id}, function(result){
          var options = '', sources = [];
          console.log(result);
          if(result.length > 0){
            $('._source').html(result[0].source);
          }else{
            $('._source').html('');
          }
          $.each(result, function(k, v){
            sources.push(v.source);
            options += "<option value=" + v.id + ">" + v.unit + "</option>";
          });
          $('._unit').html(options).data('sources', sources);
        });
      });

      $('._unit').on('change', function(event){
        var unit = $(this);
        $('._unit option').each(function(idx, element){
          if(element.value == unit.val()){
            $('._source').html(unit.data('sources')[idx]);
          }
        })
      })
    })
  </script>
<% end %>
