<%- content_for :head do %>
  <%= stylesheet_link_tag    "g8" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
       <!-- list1 -->
    <div class="tab-pane active" id="voc_list">
      <div class="form-group form1">
      </div>
      <table class="table table-bordered table-striped " id="table1">
        <tr class="info" id="tr1" >
          <td>机经</td>
          <td>题号</td>
          <td>题目</td>
          <td>操作</td>
        </tr>
        <% @questions.each do |question| %>
          <tr id="tr2">
            <td><%=question.jijing_group.name %></td>
            <td><%=question.sequence_number %></td>
            <td><%=truncate(question.content, length: 17) %></td>
            <td>
              <a href="<%=edit_jijing_question_path(question)%>">编辑</a>
              <%= link_to '删除', jijing_question_path(question), data: { confirm: '确定删除?' }, :method => :delete  if current_admin.role == 1 %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="text-center">
        <%= paginate @questions %>
      </div>
    </div>
  </div>
</div>
<% content_for :tail do %>
<% end %>