<%= content_for :head do %>
  <%= stylesheet_link_tag    "g6" %>
<% end %>

<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_entry">
      <%= form_tag new_grammar_question_path, :method => "get", :class => "form-horizontal" do %>
        <p style="color:red;"><%=flash[:notice] %></p>
        <div class="form-group">
          <label for="inputtext1" class="col-sm-2 control-label">句子：</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" name="title" id="inputtext1" placeholder="text">
          </div>
         </div>
         <div class="form-group">
          <label for="inputtext2" class="col-sm-2 control-label">讲解：</label>
          <div class="col-sm-10">
            <input type="text" name="url" class="form-control" id="inputtext2" placeholder="输入讲解视频地址">
          </div>
        </div>
        <button type="submit" class="btn btn-default b1" id="btn_sub">确定</button>
        <input type="hidden" name="unit_id" value="<%=params[:unit_id]%>">
      <% end %>
    </div>
  </div>
</div>