<%= content_for :head do %>
  <%= stylesheet_link_tag    "g6" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_list">

      <form class="navbar-form navbar-left" role="search">
       <div class="form-group form1">
         <!-- <select class="form-control se1" style="width:150px;height:40px;">
           <option>unit1</option>
         </select>
         <input type="text" class="form-control fr" placeholder="Search">
         <input type="image" src=".<%#=asset_path 'i1.png'%>" class="search"> -->
       </div>
      </form>


      <table class="table table-bordered table-striped " id="table1">
        <tr class="info" id="tr1" >
           <td>单元</td>
           <td>几题</td>
           <td>操作</td>
        </tr>
        <% @grammars.each do |grammar| %>

          <tr id="tr2">
            <td>Unit：<%=grammar.grammar_group.sequence_number %></td>
            <td><%=grammar.sequence_number %></td>
            <td><a href="#">查看</a><a href="#">编辑</a>
              <%= link_to '删除', "/grammar_questions/#{grammar.id}", data: { confirm: '确定删除?' }, :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>

      <%= paginate @grammars %>

    </div>
  </div>
</div>