<%- content_for :head do %>
  <%= stylesheet_link_tag    "g9" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <!-- list2 -->
    <p style="color:red;"><%=flash[:notice] %></p>
    <div class="tab-pane active" id="voc_entry">
      <%= form_tag "/beck_questions/#{@question.id}", class: 'form-horizontal', method: 'PUT' do |f| %>
        <div class="form-group">
           <label for="inputtext1" class="col-sm-2 control-label">题号选择：</label>
           <div class="col-sm-10">
            <%= select_tag :sequence_number, options_for_select((1..100).collect {|i| [ i, i ]}, @question.sequence_number), class: "form-control se5 weike-select", style: "margin-left: 0px;"%>
           </div>
        </div>
        <div class="form-group">
           <label for="inputtext1" class="col-sm-2 control-label">题目：</label>
           <div class="col-sm-10">
            <%= text_area_tag :content, @question.content , class: "form-control" -%>
           </div>
        </div>
        <div class="form-group">
           <label for="inputtext1" class="col-sm-2 control-label">答案范例：</label>
           <div class="col-sm-10">
           <textarea class="form-control" rows="3" name="sample_name"><%=@question.jijing_sample.content if @question.jijing_sample%></textarea>
           </div>
        </div>
        <div class="form-group">
           <label for="inputtext2" class="col-sm-2 control-label">名师讲解：</label>
           <div class="col-sm-10">
            <%= text_field_tag :analysis, @question.analysis, class: "form-control" -%>
           </div>
        </div>
        <button type="submit" class="btn btn-default b1" id="btn_sub">提交</button>
      <% end %>
    </div>
  </div>
</div>
<% content_for :tail do %>
<% end %>