<%- content_for :head do %>
  <%= stylesheet_link_tag    "g" %>
  <style type="text/css">
    .batch-dateinput{margin-left:27px!important;}
    .batch-search{margin-top:-78px!important;margin-left:416px;}
    .batch-input{margin-top:-117px;margin-left:638px;}
  </style>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_list">

      <form class="navbar-form navbar-left" role="search">
          <div class="form-group form1">
            <label>
              日期
              <input type="text" class="form-control fr batch-dateinput" name="data"  style="margin-top: 13px;">
            </label>

            <%=  select_tag "type", options_for_select([['写作','写作'],['口语','口语']]),:prompt=>'类型',class: "form-control se1"  %>

              <input type="text" class="form-control fr" name="content" placeholder="Search">
              <input type="image" src="<%=asset_path 'i1.png'%>" class="search batch-input" style="margin-top: -100px;">
          </div>
      </form>
      <div class="text-right">
        <%= link_to '清除数据', "/beck_questions/delete", data: { confirm: '确定清空全部数据嘛?' }, :method => :post if current_admin.role == 1 %>
      </div>
      <table class="table table-bordered table-striped " id="table1">
        <tr class="info" id="tr1" >
          <td>机经</td>
          <td>类型</td>
          <td>题号</td>
          <td>题目</td>
          <td>操作</td>
        </tr>
        <% @questions.each do |question| %>
          <tr id="tr2">
            <td><%=question.jijing_group.name %></td>
            <td><%=question.question_type.to_i == 1 ? '口语' : '写作' %></td>
            <td><%=question.sequence_number %></td>
            <td><%=truncate(question.content, length: 17) %></td>
            <td>
              <a href="<%=edit_beck_question_path(question) %>">编辑</a>
              <%= link_to '删除', "/beck_questions/#{question.id}", data: { confirm: '确定删除?' }, :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="text-center">
        <%= paginate @questions %>
      </div>
    </div>
  </div>
</div>