<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if action_name == 'index' %>"><a href="<%= vocabulary_questions_path %>">词汇列表</a></li>
  <li class="<%='active' if action_name == 'index_upload' %>"><a href="<%= index_upload_vocabulary_questions_path %>">批量录入</a></li>
  <li class="<%='active' if action_name == 'unit' %>"><a href="<%= unit_vocabulary_questions_path %>">Unit列表</a></li>
</ul>