<%- content_for :head do %>
  <%= stylesheet_link_tag    "g" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_list">

      <form class="navbar-form navbar-left" role="search">
          <div class="form-group form1">
            <%#=  select_tag "unit", options_from_collection_for_select(VocabularyGroup.all, "id", "sequence_number",params[:unit]),:prompt=>'单元',class: "form-control se1", style: "width:150px;height:40px;"   %>

              <input type="text" class="form-control fr" name="word" placeholder="Search" style="margin-top: 13px;">
              <input type="image" src="<%=asset_path 'i1.png'%>" class="search" style="margin-top: -60px;">
          </div>
      </form>
      <div class="text-right">
        <%= link_to '清除数据', "/vocabulary_questions/delete", data: { confirm: '确定清空全部数据嘛?' }, :method => :post if current_admin.role == 1 %>
      </div>
      <table class="table table-bordered table-striped " id="table1">
        <tr class="info" id="tr1" >
          <td >单元</td>
          <td>单词</td>
          <td>操作</td>
        </tr>
        <% @vocabularies.each do |voc| %>
          <tr id="tr2">
            <td>Unit：<%=voc.vocabulary_group.sequence_number %></td>
            <td><%=truncate(voc.word, length: 17) %></td>
            <td>
              <a href="<%=vocabulary_question_path(voc)%>">查看</a>
              <a href="<%=edit_vocabulary_question_path(voc)%>">编辑</a>
              <%= link_to '删除', "/vocabulary_questions/#{voc.id}", data: { confirm: '确定删除?' }, :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="text-center">
        <%= paginate @vocabularies %>
      </div>
    </div>
  </div>
</div>
<% content_for :tail do %>
<% end %>