<%- content_for :head do %>
  <%= stylesheet_link_tag "g8" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_list">
      <table class="table table-bordered table-striped " id="table1">
        <tr class="info" id="tr1" >
           <td>机经</td>
           <td>题号</td>
           <td>题目</td>
           <td>操作</td>
        </tr>
        <% @works.each do |work| %>
          <tr id="tr2">
            <td><%=work.jijing_group.name %></td>
            <td><%=work.sequence_number%></td>
            <td><%=truncate(work.content, length: 17) %></td>
            <td>
              <a href="<%=edit_jijing_work_path(work)%>">编辑</a>
              <%= link_to '删除', jijing_question_path(work), data: { confirm: '确定删除?' }, :method => :delete  if current_admin.role == 1 %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @works %>
    </div>
  </div>
</div>