<%- content_for :head do %>
  <%= stylesheet_link_tag "g9" %>
<% end %>
 <div class="content W730">
    <%= render "nav" %>
    <p style="color:red;"><%=flash[:notice] %></p>
    <div class="tab-pane" id="voc_entry">
      <%=form_tag jijing_works_path, class: 'form-horizontal' do %>
        <p style="font-weight:bold;padding-left:20px;">Question:</p>
        <div class="form-group">
           <label for="inputtext1" class="col-sm-2 control-label">题号选择：</label>
           <div class="col-sm-10">
             <select class="" id="" name="number">
              <option value>题号</option>
              <% (1..15).each do |i| %>
                 <option value="<%=i%>"><%=i%></option>
              <% end %>
            </select>
           </div>
        </div>
        <div class="form-group">
          <label for="inputtext1" class="col-sm-2 control-label">口语题目：</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="question_name"></textarea>
          </div>
        </div>
        <div class="form-group">
           <label for="inputtext1" class="col-sm-2 control-label">名师讲解：</label>
           <div class="col-sm-10">
            <input type="text" name="question_analysis" class="form-control" id="inputtext2" placeholder="输入讲解视频地址">
           </div>
        </div>
        <div class="form-group">
          <label for="inputtext1" class="col-sm-2 control-label" >答案范例：</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="sample_name"></textarea>
          </div>
        </div>
        <input type="hidden" name="group_id" value="<%=params[:group_id]%>">
        <button type="submit" class="btn btn-default b1" id="btn_sub">提交</button>
      <% end %>
    </div>
  </div>
</div>
<% content_for :tail do %>
  <script>
     $(function(){

      $("#new_gra").bind("click",function(){
        html = '<div class="form-group speaking" id="speaking-form">' +
               '<label for="inputtext1" class="col-sm-2 control-label">答案范例：</label>' +
               '<div class="col-sm-10">' +
               '<select class="form-control se1" name="standpoint[]" style="margin-top: 4px;margin-left: -2px;">' +
               '<option value="同意">同意</option>' +
               '<option value="反对">反对</option>' +
               '<option value="中立">中立</option>' +
               '</select>' +
               '</div>' +
               '<div class="col-sm-10">' +
               '<textarea class="form-control" name="sample[]"  rows="3" style="margin-top: 10px;margin-left: 121px;"></textarea>' +
               '</div>' +
               '</div>';
        $(".speaking:last").after(html);

      })
    })
  </script>
<% end %>