<% content_for :head do %>
<%= stylesheet_link_tag "datepicker" %>
  <%= stylesheet_link_tag "gtpo" %>

<% end %>
<div class="content W730">
  <%=render 'nav'%>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_entry">
      <%=render 'form'%>
    </div>
  </div>
</div>
<% content_for :tail do %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
  </script>
<% end %>