<div class="form-shade _tpo_question_content" style="min-height:670px;height:auto !important;"  >
  <div class="form-group group2" >
    <div class="form-group group2" >
      <div class="">
        <label class="question-index">
          <%
            question_num = num.to_s
            @tpo_question_content ||= (tpo_question_content ||= nil)
            @from ||= (change_type ||= nil)
            num = (num.to_i - 1).to_s if change_type.present?
            question = @from == 'edit' ? @tpo_question_content[:tpo_question][question_num] : nil
            prompt_value = @from == 'edit' ? question[:prompt] : nil
          %>
          第<label class="_question_content_num"><%= num %></label>题：
          <a class="delete-1-2 _delete_tpo_question_content">删除</a>
        </label>
        <%= select_tag :"tpo_question[#{num}][question_type]", options_for_select(TpoQuestion::READ_QUESTION_TYPE.invert.to_a, selected: '2'), id: 'se_unit', :class => 'form-control se6 _change_question_type' %>
      </div>
    </div>

    <label for="inputtext1" class="col-sm-2 control-label">题目：</label>
    <div class="col-sm-10">
      <%= text_field_tag :"tpo_question[#{num}][prompt]", prompt_value, class: 'form-control question-answer' %>
    </div>
  </div>
  <% if @from == 'edit' %>
    <% question[:option].each do |choice_option, choice_content| %>
      <div class="form-group group2 _question_choice_templete _choice" >
        <label for="inputtext1" class="col-sm-2 control-label">
          <% alp = choice_option.gsub(/^choice/, '') %>
          选项<%= alp %>：
        </label>
        <div class="col-sm-10">
          <%= text_field_tag :"tpo_question[#{num}][option][choice#{alp}]", choice_content, class: 'form-control question-answer' %>
        </div>
        <% unless %w(A B C D).include?(alp) %>
          <a href="javascript:void(0);" class="delete-2 _delete_tpo_question_choice">删除</a>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="form-group group2 _choice" >
      <label for="inputtext1" class="col-sm-2 control-label">选项A：</label>
      <div class="col-sm-10">
        <%= text_field_tag :"tpo_question[#{num}][option][choiceA]", nil, class: 'form-control question-answer' %>
      </div>
    </div>

    <div class="form-group group2 _choice" >
      <label for="inputtext1" class="col-sm-2 control-label">选项B：</label>
      <div class="col-sm-10">
        <%= text_field_tag :"tpo_question[#{num}][option][choiceB]", nil, class: 'form-control question-answer' %>
      </div>
    </div>

    <div class="form-group group2 _choice" >
      <label for="inputtext1" class="col-sm-2 control-label">选项C：</label>
      <div class="col-sm-10">
        <%= text_field_tag :"tpo_question[#{num}][option][choiceC]", nil, class: 'form-control question-answer' %>
      </div>
    </div>

    <div class="form-group group2 _choice" >
      <label for="inputtext1" class="col-sm-2 control-label">选项D：</label>
      <div class="col-sm-10">
        <%= text_field_tag :"tpo_question[#{num}][option][choiceD]", nil, class: 'form-control question-answer' %>
      </div>
    </div>

    <div class="form-group group2 _question_choice_templete _choice" >
      <label for="inputtext1" class="col-sm-2 control-label">选项E：</label>
      <div class="col-sm-10">
        <%= text_field_tag :"tpo_question[#{num}][option][choiceE]", nil, class: 'form-control question-answer' %>
      </div>
      <a href="javascript:void(0);" class="delete-2 _delete_tpo_question_choice">删除</a>
    </div>
  <% end %>

  <!--choice tempelte begin -->
  <div class="form-group group2 _question_choice_templete _choice" style="display:none;">
    <label for="inputtext1" class="col-sm-2 control-label _question_num">选项E：</label>
    <div class="col-sm-10">
      <%= text_field_tag :"tpo_question[#{num}][option][choiceE]", nil, id: '', class: 'form-control question-answer' %>
    </div>
    <a href="javascript:void(0);" class="delete-2 _delete_tpo_question_choice">删除</a>
  </div>
  <!--choice tempelte end -->

  <p class="para _add_tpo_question_choice"><img src="<%= asset_path 'i3.png'%>">添加选项</p>

  <div class=" form-group group2 _checkbox_answer">
    <label for="inputtext1" class="col-sm-2 control-label">正确选项：</label>
    <div style="width:557px;float:left;">
      <% if @from == 'edit' %>
        <% question[:option].keys.each do |choice_value| %>
          <label class="checkbox-inline _checkbox_content">
            <%= check_box_tag "tpo_question[#{num}][answer][]", choice_value, question[:answer].include?(choice_value), id: nil %><%= choice_value.gsub(/^choice/, '') %>
          </label>
        <% end %>
      <% else %>
        <% TpoQuestion::READ_QUESTION_MULTIPLE_CHOICE.each do |key, value| %>
          <label class="checkbox-inline _checkbox_content">
            <%= check_box_tag "tpo_question[#{num}][answer][]", value, nil, id: nil %><%= key %>
          </label>
        <% end %>
      <% end %>
      <!--choice answer tempelte begin -->
      <label class="checkbox-inline _checkbox_answer_templete _checkbox_content" style="display:none;">
        <%= check_box_tag "tpo_question[#{num}][answer][]", 'choiceA', nil, id: nil %><label class="_answer_text">A</label>
      </label>
      <!--choice answer tempelte end -->
    </div>
  </div>

  <div class="form-group group2" >
    <label for="inputtext1" class="col-sm-2 control-label">解析：</label>
    <div class="col-sm-10">
      <% analysis_value = @from == 'edit' ? question[:analysis] : nil %>
      <%= text_area_tag :"tpo_question[#{num}][analysis]", analysis_value, class: 'form-control', rows: '4' %>
    </div>
  </div>

  <div class="form-group group2" >
    <label for="inputtext1" class="col-sm-2 control-label">名师讲解：</label>
    <div class="col-sm-10">
      <% audio_value = @from == 'edit' ? question[:audio] : nil %>
      <%= text_field_tag :"tpo_question[#{num}][audio]", audio_value, class: 'form-control question-answer', placeholder: '输入视频地址' %>
    </div>
  </div>

</div>
