<% if @from == 'edit' %>
  <% @tpo_question_content[:en].each_with_index do |en, idx| %>
    <div class="form-shade _tpo_question_material" style="height:280px">
      <div class="form-group group2" >
        <% unless idx.zero? %>
          <a href="javascript:void(0);" class="_delete_tpo_question_material">删除</a>
        <% end %>
        <label for="inputtext1" class="col-sm-2 control-label">第<%= idx + 1 %>段：</label>
        <div class="col-sm-10">
          <%= text_area_tag :'en[]', en, class: 'form-control', rows: 4 %>
        </div>
      </div>
      <div class="form-group group2" >
        <label for="inputtext1" class="col-sm-2 control-label">翻译：</label>
        <div class="col-sm-10">
          <%= text_area_tag :'ch[]', @tpo_question_content[:ch][idx], class: 'form-control', rows: 4 %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="form-shade _tpo_question_material" style="height:280px" >
    <div class="form-group " id="group1">
      <label for="inputtext1" class="col-sm-2 control-label">第1段：</label>
      <div class="col-sm-10">
        <%= text_area_tag :'en[]', nil, class: 'form-control', rows: 4 %>
      </div>
    </div>
    <div class="form-group group2" >
      <label for="inputtext1" class="col-sm-2 control-label">翻译：</label>
      <div class="col-sm-10">
        <%= text_area_tag :'ch[]', nil, class: 'form-control', rows: 4 %>
      </div>
    </div>
  </div>

  <div class="form-shade _tpo_question_material" style="height:280px">
    <div class="form-group group2" >
      <a href="javascript:void(0);" class="_delete_tpo_question_material">删除</a>
      <label for="inputtext1" class="col-sm-2 control-label">第2段：</label>
      <div class="col-sm-10">
        <%= text_area_tag :'en[]', nil, class: 'form-control', rows: 4 %>
      </div>
    </div>
    <div class="form-group group2" >
      <label for="inputtext1" class="col-sm-2 control-label">翻译：</label>
      <div class="col-sm-10">
        <%= text_area_tag :'ch[]', nil, class: 'form-control', rows: 4 %>
      </div>
    </div>
  </div>
<% end %>
<div class="form-shade _tpo_question_material_templete _tpo_question_material" style="height:280px;display:none;">
  <div class="form-group group2" >
    <a href="javascript:void(0);" class="_delete_tpo_question_material">删除</a>
    <label for="inputtext1" class="col-sm-2 control-label _question_num">第3段：</label>
    <div class="col-sm-10">
      <%= text_area_tag :'en[]', nil, class: 'form-control', rows: 4 %>
    </div>
  </div>
  <div class="form-group group2" >
    <label for="inputtext1" class="col-sm-2 control-label">翻译：</label>
    <div class="col-sm-10">
      <%= text_area_tag :'ch[]', nil, class: 'form-control', rows: 4 %>
    </div>
  </div>
</div>

<p class="para _add_question_material"><img src="<%= asset_path 'i3.png'%>">新段落</p>

<%= content_for :tail do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('._add_question_material').on('click', function(event){
        var templ = $('._tpo_question_material_templete:last');
        var question_num = $('._tpo_question_material').length
        templ.find('label._question_num').html('第' + question_num + '段')
        templ.before(templ.clone().show());
      });

      $('._tpo_read_form').on('click', '._delete_tpo_question_material', function(event){
        $(this).closest('._tpo_question_material').remove();
      })
    })
  </script>
<% end %>
