<div class="form-shade _tpo_question_content" >
  <%= hidden_field_tag :"#{num}[question_type]", 1 %>
  <label for="oral_question_data_url" class="col-sm-2 control-label">题目：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[prompt][]'", nil, class: 'form-control' %>
  </div>
  <label for="oral_question_data_url" class="col-sm-2 control-label">选项A：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[choiceA][]", nil, class: 'form-control' %>
  </div>
  <label for="oral_question_data_url" class="col-sm-2 control-label">选项B：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[choiceB][]", nil, class: 'form-control' %>
  </div>
  <label for="oral_question_data_url" class="col-sm-2 control-label">选项C：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[choiceC][]", nil, class: 'form-control' %>
  </div>
  <label for="oral_question_data_url" class="col-sm-2 control-label">选项D：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[choiceD][]", nil, class: 'form-control' %>
  </div>

  <label for="oral_question_data_url" class="col-sm-2 control-label">正确选项：</label>
  <div class="col-sm-10">
    <%= select_tag :"#{num}[answer]", options_for_select(['choiceA', 'choiceB', 'choiceC', 'choiceD']), id: 'se_unit', :class => 'form-control _unit' %>
  </div>

  <label for="oral_question_data_url" class="col-sm-2 control-label">解析：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[analysis][]", nil, class: 'form-control' %>
  </div>

  <label for="oral_question_data_url" class="col-sm-2 control-label">名师讲解：</label>
  <div class="col-sm-10">
    <%= text_field_tag :"#{num}[audio][]", nil, class: 'form-control', placeholder: '输入视频地址' %>
  </div>
</div>

