<%= content_for :head do %>
  <%= stylesheet_link_tag "gtpo" %>
<% end %>

<!-- right content -->
<div class="content W730">
  <!-- Nav tabs -->
  <%= render 'top_nav' %>

  <div class="tab-content">
    <div class="" id="voc_entry">
      <%= form_tag tpo_read_path(@tpo_question), method: :put, class: 'form-horizontal _tpo_read_form', id: 'form6' do %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
