<%= content_for :head do %>
  <%= stylesheet_link_tag "gtpo" %>
<% end %>

<div class="content W730">
  <!-- Nav tabs -->
  <%= render 'top_nav' %>

  <div class="tab-content">
    <div class="" id="voc_entry">
      <form class="form-horizontal " role="form" action="" id="form6">
        <nav class="navbar navbar-default" role="navigation" id="navbar">
          <p>
            <span><%= @tpo_group.name %>，Passage<%= @tpo_question.sequence_number %>
              <span style="padding-left:10px;"><%= link_to '更改', choose_range_tpo_reads_path %>
              </span>
            </span>
          </p>
        </nav>

        <p style="text-align:center;font-size:6px;width:700px;line-height:20px;">
          <%= @tpo_question_content[:title] %>
        </p>
        <div >
          <% @tpo_question_content[:en].each_with_index do |en, idx| %>
            <p style="font-size:6px;width:700px;line-height:20px;">
               <%= en %>
            </p>
            <p style="font-size:6px;width:700px;line-height:20px;">
              <%= @tpo_question_content[:ch][idx] %>
            </p>
          <% end %>
        </div>

        <%
          tpo_questions = @tpo_question_content[:tpo_question]
          question_count = tpo_questions.size
        %>
        <% question_count.times do |idx| %>
          <div>
            <% if idx.zero? %>
              <p >Qestions</p>
              <hr style="width: 610px;margin-right: 30px;float: right;margin-top: -29px;">
            <% else %>
              <hr style="width: 610px;margin-left: 54px;">
            <% end %>
            <div class="radio-list" style=" margin-left: 53px;margin-top: -9px;">
              <%
                num = (idx + 1).to_s
                question = tpo_questions[num]
              %>
              <label>
                <% question_types = TpoQuestion::READ_QUESTION_TYPE.values %>
                <%= "#{question_types[(question[:question_type].to_i - 1)]}--#{num}.#{question[:prompt]}" %>
                <% if question[:question_type] == '3' %>
                  <p><%= question[:G1] %></p>
                  <p><%= question[:G2] %></p>
                <% end %>
              </label>

              <% question[:option].each do |choice, choice_content| %>
                <div class="radio">
                  <label>
                    <%= "#{choice.gsub(/^choice/, '')}.#{choice_content}" %>
                  </label>
                </div>
              <% end %>
            </div>

            <div class="form-shade shade4">
              <div class="form-group " id="group1">
                <label for="inputtext1" class="col-sm-2 control-label">解析：</label>

                <label for="inputtext1" style="margin-left:105px;" >

                  正确答案：
                  <% if question[:question_type] == '3' %>
                    <%
                      answer1 = question[:answer1].map{|choice| choice.gsub(/^choice/, '')}.join
                      answer2 = question[:answer2].map{|choice| choice.gsub(/^choice/, '')}.join
                    %>
                    <%= (answer1.blank? || answer2.blank?) ? "#{answer1} #{answer2}" : "#{answer1}/#{answer2}" %>
                  <% else %>
                    <%= question[:answer].map{|choice| choice.gsub(/^choice/, '')}.join %>
                  <% end %>
                  <br><br>
                  <%= question[:analysis] %>
                </label>
              </div>
            </div>

            <div>
              <p style="margin-top:35px">名师讲解：<span><a href="javascript:void();" class="teacher-explain"><%= question[:audio] %></a></span></p>
            </div>
          </div>
        <% end %>

        <div class="tab-pane active" id="voc_entry">
          <% if params[:from] == 'index' %>
            <%= link_to '修改', edit_tpo_read_path(@tpo_question, from: params[:from]), id: 'btn4', class: 'btn btn-default btn-lg active', style: 'margin-left:260px;' %>
          <% else %>
            <%= link_to '继续录入', choose_range_tpo_reads_path, id: 'btn3', class: 'btn btn-primary btn-lg active' %>
            <%= link_to '返回修改', edit_tpo_read_path(@tpo_question), id: 'btn4', class: 'btn btn-default btn-lg active' %>
          <% end %>
       </div>
      </form>
    </div>
  </div>
</div>
