<%= content_for :head do %>
  <%= stylesheet_link_tag "gread", "data-turbolinks-track" => true %>
<% end %>

<!-- right content -->
<div class="content W730">
  <!-- Nav tabs -->
  <%= render 'top_nav' %>

  <div class="tab-content">
    <div class="tab-pane1" id="voc_entry">
      <p class="unit">请输入要添加的单元(如果添加连续的单元可以用1-4格式)：&nbsp;&nbsp;&nbsp;unit</p>
      <%= form_tag create_dictation_group_dictation_questions_path, class: "navbar-form navbar-left", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :units, nil, class: 'form-control' %>
          <button type="submit" class="btn btn-default b1" id="btn_sub">确定</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


