<%- content_for :head do %>
  <%= stylesheet_link_tag    "g8" %>
  <style type="text/css">

  #voc_entry .list{
    padding-left: 30px;
    line-height: 40px;
    margin: 0 0 10px;
  }
  #voc_entry .list a{
    float: left;
    /*padding-right: 60px;*/
    font-size: 12px;
    color: #000;
  }
    .jijing{
      float: left;
      display: none;
    }
    .jijing input{
      height: 20px;
      line-height: 20px;
    }
  </style>
<% end %>
<div class="content W730">
  <%= render "top_nav" %>
  <div class="tab-pane" id="voc_entry">
    <p style="color:red;" class="_alert"><%= flash[:alert] %></p>
    <div class="clearfix list">
      <% @dictation_groups.each do |dictation_group| %>
        <a href="javascript:void(0);" class="_tpo_name">Unit<%= dictation_group.name %></a>
        <%= link_to '删除', delete_group_dictation_questions_path(id: dictation_group.id), method: :delete, class: '_delete_tpo', data: {confirm: "确认删除Unit#{dictation_group.name}？"}, style: 'display:none;color: red;' %>
      <% end %>
      <a href="javascript:;" id="i3"><img src="<%=asset_path 'i3.png'%>">添加Unit</a>
      <%= form_tag create_group_dictation_questions_path, class: 'jijing' do %>
        Unit&nbsp;  <input type="text" name="name" class="_name" placeholder="请输入例如：1">
        <input type="submit" class="_submit" >
      <% end %>
    </div>


  </div>
</div>

<%= content_for :tail do %>
  <script type="text/javascript">
    $('#i3').click(function(){
      $(this).hide();
      $(this).closest('#voc_entry').find('.jijing').show();
    });

    $('._submit').click(function(event){
      var error_result = !(/^\d+$/.test($('._name').val()));
      if(error_result){
        $('._alert').html('请输入正确的Unit');
        return false;
      }
    });

    $('#voc_entry').on('mouseenter', '._tpo_name', function(event){
      $('._delete_tpo').hide();
      $(this).next('._delete_tpo').show();
    });
  </script>
<% end %>
