<div class="sidebar W250">
  <div class="list-group">
    <div id="firstpane" class="menu_list">
      <a href="<%= vocabulary_questions_path %>" class="list-group-item <%='active' if controller_name == 'vocabulary_questions' %>" style="padding-left:90px;">词汇</a>
      <a href="<%= grammar_questions_path %>" class="list-group-item <%='active' if controller_name == 'grammar_questions' %>">语法</a>
      <a href="<%= jinghua_questions_path %>" class="list-group-item <%='active' if controller_name == 'jinghua_questions' %>">批改</a>
      <a href="<%= dictation_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'dictation_questions' %>">听写</a>
      <a href="<%= oral_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'oral_questions' %>">跟读</a>
      <a href="<%= reproduction_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'reproduction_questions' %>">记忆复写</a>
      <a href="#" class="list-group-item">配音</a>
      <a href="#" class="list-group-item">tpo题库</a>
      <a href="#" class="list-group-item">机经</a>
      <div style="display:none" class="menu_body" >
        <a href="/jijing_questions">机经口语</a>
        <a href="#">机经写作</a>
      </div>
    </div>
  </div>
</div>
