<div class="sidebar W250">
  <div class="list-group">
    <div id="firstpane" class="menu_list">
      <% if current_admin.role == 1 %>
        <a href="<%= admins_path %>" class="list-group-item <%='active' if controller_name == 'admins' %>" style="padding-left:90px;">录入人员</a>
      <% end %>
      <a href="<%= vocabulary_questions_path %>" class="list-group-item <%='active' if controller_name == 'vocabulary_questions' %>" style="padding-left:90px;">词汇</a>
      <a href="<%= grammar_questions_path %>" class="list-group-item <%='active' if controller_name == 'grammar_questions' %>">语法</a>
      <a href="<%= jinghua_questions_path %>" class="list-group-item <%='active' if controller_name == 'jinghua_questions' %>">批改</a>
      <a href="<%= dictation_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'dictation_questions' %>">听写</a>
      <a href="<%= oral_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'oral_questions' %>">跟读</a>
      <a href="<%= reproduction_questions_path %>" class="list-group-item <%= 'active' if @left_nav == 'reproduction_questions' %>">记忆复写</a>
      <a href="#" class="list-group-item">配音</a>
      <a href="javascript:void(0);" class="list-group-item menu_head1">tpo题库</a>
      <div class="menu_body1" >
        <a href="<%= tpo_reads_path %>" class="side_nav <%= 'active list-group-item' if @left_nav == 'tpo_reads' %>">阅读</a>
        <a href="<%= tpo_listens_path %>" class="side_nav <%= 'active list-group-item' if @left_nav == 'tpo_listens' %>">听力</a>
        <a href="<%=tpo_spokens_path%>" class="side_nav">口语</a>
        <a href="/tpo_questions/writ_index" class="side_nav">写作</a>
      </div>
      <a href="javascript:void(0);" class="list-group-item menu_head2">机经</a>
      <div class="menu_body2" >
        <a href="/jijing_questions" class="side_nav">机经口语</a>
        <a href="/jijing_works" class="side_nav">机经写作</a>
        <a href="/beck_questions" class="side_nav">历年真题</a>
      </div>
      <a href="javascript:alert('研发中...');" class="list-group-item <%='active' if controller_name == 'XXX' %>" style="padding-left:90px;">微课</a>
      <a href="<%= live_broadcasts_path %>" class="list-group-item <%='active' if controller_name == 'live_broadcasts' %>" style="padding-left:90px;">直播</a>
    </div>
  </div>
</div>
