<div class="sidebar W250">
  <div class="list-group">
     <a href="<%= vocabulary_questions_path %>" class="list-group-item <%='active' if controller_name == 'vocabulary_questions' %>" style="padding-left:90px;">词汇</a>
     <a href="<%= grammar_questions_path %>" class="list-group-item <%='active' if controller_name == 'grammar_questions' %>">语法</a>
     <a href="<%= jinghua_questions_path %>" class="list-group-item <%='active' if controller_name == 'jinghua_questions' %>">批改</a>
     <a href="#" class="list-group-item">听写</a>
     <a href="#" class="list-group-item">跟读</a>
     <a href="#" class="list-group-item">记忆复写</a>
     <a href="#" class="list-group-item">配音</a>
     <a href="#" class="list-group-item">tpo题库</a>
     <a href="#" class="list-group-item">机经</a>
  </div>
</div>