<!DOCTYPE html>
<html>
<head>
  <title>小马托福后台管理</title>
  <%= yield :head %>
  <%= stylesheet_link_tag    "bootstrap.min", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header w1500 mid">
    <img  class="logo">
      <span style="padding-left: 700px;">
        <% if current_admin %>
          <%= current_admin.username.present? ? current_admin.username : current_admin.email%> | <%= link_to('登出', destroy_admin_session_path, :method => :delete) %>
          <%#= link_to('修改密碼', edit_registration_path(:admin)) %>
        <% end %>
      </span>
    <h1 style="color:#fff;">小马托福</h1>
    <h5 style="color:#fff;">后台管理</h5>
  </div>
  <div class="main h885 mid">
    <% if current_admin %>
      <%= render "layouts/left" %>
    <% end %>

    <%= yield %>
    <div style="clear:both"></div>
  </div>
  <%= yield :tail %>
  <script>
    // $(function(){
    // $('#myTab li:eq(1) a').tab('show');
    //   })
  </script>
  <script type="text/javascript">
    function showinfo(obj){
      var pos=obj.value.lastIndexOf("\\");
      var pos1=obj.value.lastIndexOf("\.");
      var filename=obj.value.substring(pos+1,pos1);
       document.getElementById("filename1").innerText=filename;
    }
  </script>
  <script type=text/javascript>
    $(document).ready(function(){
      $("#firstpane .menu_body:eq(0)").show();
      $("#firstpane p.menu_head").click(function(){
        $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
        $(this).siblings().removeClass("current");
      });
      $("#secondpane .menu_body:eq(0)").show();
      $("#secondpane p.menu_head").mouseover(function(){
        $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
        $(this).siblings().removeClass("current");
      });

    });
  </script>
</body>
</html>
